.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://res.cloudinary.com/dksedihrp/image/upload/v1612649017/Cloud_ADRP/ADRP_official_gwyip3.jpg");
  background-size: 160%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
}
.cont_textBx {
  padding: 100px 100px 0 100px;
}
.cont_textBx h2 {
  position: relative;
  text-shadow: 0 0 7px #333;
  font-size: 3em;
  color: #ffd49f;
  font-weight: 500;
  line-height: 1.5em;
  font-family: "Cinzel", serif;
  z-index: 1;
}

.cont_textBx h2 span {
  position: relative;
  text-shadow: 0 0 7px #333;
  font-family: "Cinzel", serif;
  font-size: 1.3em;
  font-weight: 700;
  z-index: 1;
}

.cont_textBx h3 {
  position: relative;
  font-size: 1.5em;
  color: #ffd49f;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  text-shadow: 0 0 7px #333;
  z-index: 1;
}
.btnBx {
  position: relative;
  background-color: #333;
  display: inline-block;
  color: #ffd49f;
  margin-top: 20px;

  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
.btnBx:hover{
  color: #ffd49f;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.banner .clouds img {
  position: absolute;
  bottom: -12%;
  max-width: 100%;
  animation: animate_clouds calc(3s * var(--i)) linear infinite;
}
@keyframes animate_clouds {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;

    transform: scale(3);
  }
}

@media (max-width: 1200px) {
  .cont_textBx {
    padding: 100px 50px 0 50px;
  }
}

@media (max-width: 850px) {
  .cont_textBx {
    width: 80%;
  }
  .cont_textBx h2 {
    font-size: 2em;
  }
  .cont_textBx h2 span {
    font-size: 1.1em;
  }
}

@media (max-width: 750px) {
  .banner .clouds img {
    bottom: 3%;
  }
  .cont_textBx {
    width: 90%;
  }

  .btnBx {
    font-size: 1.1em;
  }
}

@media (max-width: 600px) {
  .banner .clouds img {
    bottom: 7%;
  }
  .cont_textBx {
    width: 100%;
  }
  .banner {
    background-attachment: initial;
    background-size: 200%;
  }
  .cont_textBx h2 {
    font-size: 1.5em;
  }
  .cont_textBx h2 span {
    font-size: 1em;
  }

  .btnBx {
    font-size: .9em;

  }
}

@media (max-width: 470px) {
  .banner {
    background-position: 45% 35%;
    background-size: 400%;
  }
  .cont_textBx {
    width: 100%;
  }

  .btnBx {

    left: 50%;
    transform: translateX(-50%);
  }
  
  .cont_textBx h2 {
    text-align: center;
    text-shadow: 5px 0px 5px #000;
  }
  .cont_textBx h2 span {
    text-align: center;
    font-size: 0.8em;
    text-shadow: 5px 0px 5px #000;
  }

  .cont_textBx h3 {
    text-align: center;
    text-shadow: 5px 0px 5px #000;
  }
}

@media (max-width: 395px) {
  .cont_textBx {
    padding: 100px 10px 0 10px;
  }
  .cont_textBx h2 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
  }
  .cont_textBx h2 span {
    font-size: 0.8em;
    font-weight: bold;
  }
  .cont_textBx h3 {
    text-align: center;
    font-size: 1.2em;
  }
  .btnBx {
    font-size: 0.8em;
  
  }
}
