header {
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  width: 100%;
  padding: 20px 100px;
  z-index: 1000;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #333;
  backdrop-filter: blur(4px);
  padding: 15px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .Mlogo {
  color: #ffd49f;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Cinzel", serif;
}
header.sticky .Mlogo {
  color: #ffd49f;
}
header .Mul {
  position: relative;
  display: flex;
}

header .Mul .Mli {
  position: relative;
  list-style: none;
}

header .Mul .Mli a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  padding: 5px 10px;
  color: #ffd49f;
  overflow: hidden;
  font-size: 16px;
  text-decoration: none;
  font-family: "Lobster", cursive;
  transition: 0.5s;
}
header .Mul .Mli a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: 0.5s;
}

header .Mul .Mli a:hover:before,
header .Mul .Mli a:hover:after {
  width: 50%;
  height: 50%;
}
header .Mul .Mli a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
header .Mul .Mli a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: 0.5s;
}
.Mtoggle {
  display: none;
}

@media (max-width: 1200px) {
  .Mtoggle {
    display: block;
  }

  header {
    padding: 25px 50px;
  }
  header.sticky {
    padding: 25px 60px;
    z-index: 1000;
  }
  .Mul.ulMenu {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    padding: 50px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #555;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    top: 80px;
  }

  .Mul.ulMenu.activeMenu {
    left: 0;
  }
  .Mtoggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  header .Mul .Mli a {
    margin: 10px;
    font-size: 1.7em;
    padding: 8px 10px;
  }
}
@media (max-width: 450px) {
  header {
    padding: 25px 20px;
  }
  header.sticky {
    padding: 25px 40px;
  }
}
